:root {
    --pink: #ed7dab;
    --blue: #4e639c;
    --brown: #7d3a43;
    --beige: #f5e6c9;
    --yellow: #fede63;
    --light: #fff;
    --dark: #333;

    --pink-faint: #ed7dab88;
    --blue-faint: #4e639c88;
    --brown-faint: #7d3a4388;
    --beige-faint: #f5e6c988;
    --yellow-faint: #fede6388;

    --accent-yellow: #ffd24e;
    --accent-pink: #ed7dab;
    --accent-red: #e1391c;
    --accent-blue: #4f5b97;
    --accent-green: #65b762;
    --accent-burgundy: #712529;
    --accent-yellow-light: #ffd24e;
    --accent-pink-light: #f1ccdc;
    --accent-red-light: #e1391c;
    --accent-blue-light: #4f5b97;
    --accent-green-light: #65b762;
    --accent-burgundy-light: #712529;

    --chrome: hsl(357, 51%, 19%);
    --chrome-x1: hsl(357, 51%, 24%);
    --chrome-x2: hsl(357, 51%, 29%);

    --em: #ed7dab;

    --chrome-text: #f7f0e3;
    --content-horiz-padding: 20px;

    --base: hsl(39, 56%, 93%);
    --base-1: hsl(39, 56%, 88%);
    --base-2: hsl(39, 56%, 83%);
    --text: #333;

    --light: #fafafa;

    --control: #72b0ff;

    --label: #999;

    --shadow: #ece3cc;

    --body-font: Lato, Arial, Helvetica;

    --header-font: Hammersmith One;
    --header-color: var(--accent-burgundy);

    --transparent-shadow: rgba(0, 0, 0, 0.4);

    --h1-sizing: min(2.5em, 10vw);
    --h2-sizing: min(2em, 7vw);
}

body {
    font-family: var(--body-font);
    font-size: min(1.2em, 4vw);
}

h1,
h2 {
    font-family: var(--header-font);
    text-transform: uppercase;
    font-weight: 400;
}

h1 {
    font-size: var(--h1-sizing);
}

h2 {
    font-size: var(--h2-sizing);
}

section {
    main {
        max-width: 1000px;
        position: relative;
        margin: 0 auto;

        padding: 0 1em;
        padding-bottom: 50px;
    }

    &.pink {
        background-color: var(--pink);
    }

    &.blue {
        background-color: var(--blue);
    }

    &.brown {
        background-color: var(--brown);
    }

    &.beige {
        background-color: var(--beige);
    }

    &.yellow {
        background-color: var(--yellow);
    }

    &.with-confetti {
        background-image: url(/new/confetti.svg);
        background-size: 30%;
    }
}

em {
    font-style: normal;
    color: var(--pink);

    &.red {
        color: var(--accent-red);
    }
}

.ellipsize {
    display: block;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.scrollbar {
    &::-webkit-scrollbar {
        -webkit-appearance: none;

        &:vertical {
            width: 15px;
        }
    }

    &::-webkit-scrollbar-track {
        background-color: var(--base-1);
    }

    &.rounded {
        &::-webkit-scrollbar-track {
            border-radius: 10px;
        }
    }

    &::-webkit-scrollbar-corner {
        background-color: var(--base-1);
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        border: 5px solid var(--base-1);
        background-color: var(--base-5);
        min-height: 40px;

        &:hover {
            background-color: var(--base-7);
        }
    }
}

.theme-container {
    min-height: 100vh;
    background: var(--base);
    color: var(--text);
    display: flex;
    flex-direction: column;
}

.theme-container.md-toast {
    --base: #fff;
    .doodle,
    .curtains-left,
    .curtains-right,
    .about-tickets {
        display: none;
    }
}

@keyframes slidebg {
    to {
        background-position: 100vw;
    }
}

.theme-container.md-afterparty {
    main.markdown {
        .sticky-header {
            background-image: linear-gradient(90deg, #00c0ff 0%, #ffcf00 49%, #fc4f4f 80%, #00c0ff 100%);
            animation: slidebg 5s linear infinite;
        }

        section.cta button {
            border: none;
            background-image: linear-gradient(90deg, #00c0ff 0%, #ffcf00 49%, #fc4f4f 80%, #00c0ff 100%);
            animation: slidebg 30s linear infinite;

            .button-inner {
                background: #fff;
            }
        }
    }
}

main.markdown {
    flex-grow: 1;

    &.normal {
        max-width: 900px;
        margin: 0 auto;
        padding: 2em;
    }
}

.flexer {
    display: flex;
    align-items: center;
    gap: 5px;
}

.long-short {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 5px;
}

.short-long {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 5px;
}

mark {
    background-color: var(--accent-pink);
    padding: 3px;

    &.subtle {
        background-color: var(--accent-yellow);
    }
}

img,
video {
    max-width: 100%;
}

button,
a {
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button:disabled,
button.disabled,
a.disabled {
    pointer-events: none;
}

.material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: "liga";
}
